.footer-container {
  background-color: var(--primary-color);
  color: #fff;
  height: 280px;
}
.footer {
  height: 100%;
  display: flex;
  gap: 140px;
  align-items: center;
}
.contact-footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-infos{
  display: flex;
  gap:200px
}
.horaires-footer {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.footer h2{
  font-style: italic;
}
.footer-infos p {
  font-size: 18px;
}
